<div class="repo-header">
  <div class="repo-actions">
    @if (isStarLoadin) {
        @if (repository.last_pushed_at) {
            <span>Last pushed {{ repository.last_pushed_at | date:'short' }}</span> -
        }
        @else {
            @if (lastTag) {
                <span>Last pushed {{ lastTag.updated_at | date:'short' }}</span> -
            }
        }
        <span>Pull ({{repository.pulls_count}}) <button>Simulation Push</button></span>
        <span>
            Star ({{repository.stars_count}}) 
            <Button (click)="actionForStar(repository)" [disabled]="repository.owner_username === user.username">
                @if (!isLoaderStarAction) {
                    @if (!hasAlredyBeenStarredByTheCurrentUser(repository)) {
                        <span>Add to star</span>
                    }
                    @else {
                        <span>Remove to star</span>
                    }
                }
                @else {
                    <span class="spinner"></span>
                }
            </Button>
        </span>
    }
    @else {
        <span>{{loadingTextInterval()}}</span>
    }
  </div>
</div>

@if (isTagsLoading && isCollaboratorLoading && isStarLoadin) {
    <!-- TABS -->
    <div class="tabs">
        <div class="tab"
            [class.active]="activeTab==='general'"
            (click)="setTab('general')">General</div>

        <div class="tab"
            [class.active]="activeTab==='tags'"
            (click)="setTab('tags')">Tags</div>

        @if (userService.isSuperAdmin() || isOwner()) {
            <div class="tab"
                [class.active]="activeTab==='stars'"
                (click)="setTab('stars')">Stars</div>
                
            <div class="tab"
                [class.active]="activeTab==='collaborators'"
                (click)="setTab('collaborators')">Collaborators</div>
            
            <div class="tab"
                [class.active]="activeTab==='options'"
                (click)="setTab('options')">Options</div>
        }
    </div>

    <!-- TAB CONTENT -->
    @if (activeTab === 'general') {
        <div class="tab-content">
            <div>
                <div>
                    <h3>Tags</h3>
                    <p>This repository contains 1 tag(s).</p>
                </div>
                <app-table-component
                    [columns]="tagsColumnsWithoutButton"
                    [data]="tags">
                </app-table-component>
            </div>
            <div>
                <h1>build cloud</h1>
                <p>Build with</p>
                <h3>Docker Build Cloud</h3>

                <div>
                    Accelerate image build times with access to cloud-based builders and shared cache.
                </div>
                <div>
                    Docker Build Cloud executes builds on optimally-dimensioned cloud infrastructure with dedicated per-organization isolation
                </div>
                <div>
                    Get faster builds through shared caching across your team, native multi-platform support, and encrypted data transfer - all without managing infrastructure.
                </div>
            </div>
        </div>
    }

    @if (activeTab === 'tags') {

        <app-table-component
            [columns]="tabsColumns"
            [data]="tags">
        </app-table-component>
        <br>
        @if (userService.isSuperAdmin() || isOwner()) {
            <button (click)="addTag()">Add Tag</button>
        }
    }

    @if (activeTab === 'stars') {
        <app-table-component
            [columns]="starsColumns"
            [data]="stars">
        </app-table-component>
    }

    @if (activeTab === 'collaborators') {
    <div class="collaborators">
        <div class="add-collaborator">
            <h3>Collaborators</h3>
            <p>Collaborators will be given push and pull access to this repository.</p>

            <input
                type="text"
                placeholder="Username"
                [(ngModel)]="searchTerm"
                (input)="onSearchUser()"
            />

            <!-- AUTOCOMPLETE LIST -->
            @if (filteredUsers.length > 0) {
                <ul class="user-suggestions">
                @for (user of filteredUsers; track user.username) {
                    <li (click)="selectUser(user)">
                    {{ user.username }}
                    </li>
                }
                </ul>
            }

            <button (click)="addCollaborator()" [disabled]="!selectedUser">
                Add collaborator
            </button>
        </div>
        <div>
            <h3>Current collaborators</h3>
            <ul>
                @for (col of collaborators; track col) {
                    <li>
                        {{col.username}}
                        <button class="remove" (click)="removeCollaborators(col)">Remove</button>
                    </li>
                }
            </ul>
        </div>
    </div>
    }

    @if (activeTab === 'options') {
        <div class="collaborators not-grid">
            @if (userService.isSuperAdmin()) {
                <div class="visibility-settings">
                    <h2>Badge settings</h2>
                    <span>This repository is {{this.repository.badge}}</span>

                    <div class="visibility-paragraf">
                        <p>We mark the repository as ['OFFICIAL','VERIFIED','SPONSORED']</p>
                    </div>

                    <div>
                        <div class="badge-menu">
                            @for (b of ['OFFICIAL','VERIFIED','SPONSORED']; track b) {
                                <label>
                                    <input
                                        type="radio" 
                                        name="badge"
                                        [value]="b" 
                                        (change)="onBadgeChange($event)" 
                                        [checked]="selectedBadge === b"
                                    />
                                    {{ b }}
                                </label>
                            }
                        </div>
                    </div>

                        <div>
                        <button style="background-color: green!important;" (click)="openModal('accepted')">
                            @if (!isDeleteSpinser) {
                                Update badge
                            }
                            @else {
                                <span class="spinner"></span>
                            }
                        </button>
                    </div>
                </div>
            }

            <div class="visibility-settings">
                <h2>VIsibility settings</h2>
                <span>This repository is {{this.repository.visibility}}</span>

                <div class="visibility-paragraf">
                    <p>Using 0 of 1 private repositories.</p>
                    <p>Public repositories are available to anyone. Private repositories are only available to you.</p>
                </div>

                <div>
                    <button (click)="openModal('visibility')">
                        @if (!isVisibilitySpiner) {
                            Make {{getTypeVisibility()}}
                        }
                        @else {
                            <span class="spinner"></span>
                        }
                    </button>
                </div>
            </div>

            <div class="visibility-settings">
                <h2>Delete repository</h2>

                <div class="visibility-paragraf">
                    <p>Deleting a repository will destroy all tags stored within it. This action cannot be undone.</p>
                </div>

                <div>
                    <button style="background-color: red!important;" (click)="openModal('delete')" [disabled]="isDeleteDisabled()">
                        @if (!isDeleteSpinser) {
                            Delete repository
                        }
                        @else {
                            <span class="spinner"></span>
                        }
                    </button>
                </div>
            </div>
        </div>
    }
}
@else {
    <span class="spinner"></span>
}


@if (isOpenModal) {
    <app-modal-dialog-component
        [title]="modalTitle"
        [message]="modalMessage"
        [type]="modelType"
        [isCancelVisibility]="isCancel"
        [innerDiv]="innerDiv"
        (ok)="onModalOk()"
        (cancel)="onModalCancle()">
    </app-modal-dialog-component>
}
