<div class="layout">
  <!-- SIDEBAR -->
  <aside class="sidebar">
    <!-- PROFILE BOX -->
    <div class="profile-box">
      <div class="sidebar-icon">
        <i class="icon-user"></i>
      </div>

      <div class="account-text">
        <div class="account-email">{{ username?.username }}</div>
        <div class="account-plan">Docker Personal - {{userRole}}</div>
      </div>
    </div>

    <ul class="menu">
      <!-- REPOSITORIES -->
      <li class="menu-item">
        <a (click)="openBody('home')">Home</a>
      </li>

      <!-- SETTINGS -->
      <li class="menu-item settings-header" (click)="openPanel('settings')">
        <span>Repository settings</span>
        <span class="arrow" [class.open]="settingsOpen">▾</span>
      </li>

      @if (settingsOpen) {
        <ul class="submenu">
          <li>
            <a style="cursor: pointer;" (click)="openBody('default-private')">Default private</a>
          </li>
        </ul>
      }

      @if (userService.isAdminOrSuperadmin()) {
        <!-- SETTINGS -->
        <li class="menu-item settings-header" (click)="openPanel('administration')">
          <span>Administration page</span>
          <span class="arrow" [class.open]="administrationPage">▾</span>
        </li>

        @if (administrationPage) {
          <ul class="submenu">
            <li>
              <a style="cursor: pointer;" (click)="openBody('all-users')">Show all users</a>
            </li>
          </ul>
        }
      }

      @if (userService.isSuperAdmin()) {
        <!-- SETTINGS -->
        <li class="menu-item settings-header" (click)="openPanel('analytics')">
          <span>Analytics page</span>
          <span class="arrow" [class.open]="analitycsPage">▾</span>
        </li>

        @if (analitycsPage) {
          <ul class="submenu">
            <li>
              <a style="cursor: pointer;" (click)="openBody('new-administrator')">Find all logs</a>
            </li>
          </ul>
        }
      }
    </ul>
  </aside>
  
  <div class="container home-container">
    <!-- HEADER -->
    <header class="header">
      <h1>UKS Hub</h1>
      
      <div class="user-info">
        <!-- Avatar Button -->
        <div class="avatar-dropdown" (click)="toggleDropdown()">
          <span class="avatar-letter">{{ username.username.charAt(0).toUpperCase() }}</span>
          <div class="dropdown-menu" [class.show]="dropdownOpen">
            <a (click)="openLink('home')">My Profile</a>
            <a (click)="openLink(`account-settings/${username.username}`)">Account Settings</a>
            <div class="logout">
              <a (click)="logout()">Sing out</a>
            </div>
          </div>
        </div>
      </div>
    </header>

    @if (typeBody == 'home') {
      <div class="body-title">
        <h2>Repositories</h2>
        <p>All repositories within the <span>{{username.username}}</span> namespace.</p>
      </div>

      <!-- SEARCH & NEW PROJECT -->
      <section class="project-controls">
        <input
          type="text"
          placeholder="Search repositories..."
          [(ngModel)]="searchQuery"
          (keyup.enter)="search()"
        />
        <div class="badge-dropdown">
          <button (click)="toggleBadgeDropdown()" class="badge-button">
            Badges ▾
          </button>
          <div class="badge-menu" [class.show]="badgeDropdownOpen">
            @for (b of ['OFFICIAL','VERIFIED','SPONSORED','NONE']; track b) {
              <label>
                <input type="checkbox" [value]="b" (change)="onBadgeChange($event)" 
                      [checked]="selectedBadges.includes(b)" />
                {{ b }}
              </label>
            }
          </div>
        </div>

        <select [(ngModel)]="visibilityFilter" (change)="search()">
          <option value="all">All</option>
          <option value="public">Public</option>
          <option value="private">Private</option>
        </select>

        <select [(ngModel)]="sortingFilter" (change)="search()">
          <option value="random">Randomly</option>
          <option value="latest">Latest</option>
          <option value="oldest">Oldest</option>
        </select>

        <button (click)="search()" [disabled]="isLoading">
          @if (!isLoading) {
            <span>Search</span>
          }
          @if (isLoading) {
            <span class="spinner"></span>
          }
        </button>
        <button class="btn-new" (click)="openBody('create-repository')">+ New Repository</button>
      </section>

      <!-- PROJECT LIST -->
      <section class="project-list">
        <div *ngIf="projects.length === 0 && !isLoading" class="no-projects">
          No repositories found.
        </div>

        @if (projects.length > 0) {
          <app-table-component
            [columns]="repoColumns"
            [data]="projects"
            [rowAction]="openRepository.bind(this)">
          </app-table-component>
        }

        @if (isLoading) {
          <div class="loading-msg">
            Loading repositories...
          </div>
        }
        
      </section>
    }
    @if (typeBody == 'default-private') {
      <div class="body-title">
        <h2>Default repository privacy</h2>
      </div>
      <app-defautl-private-repository></app-defautl-private-repository>
    }

    @if (typeBody == 'create-repository') {
      <div class="body-title">
        <h2>Create repository</h2>
      </div>
      <app-create-repository
        (close)="onCreateRepoClose()"
        (created)="onRepoCreated($event)">
      </app-create-repository>
    }

    @if (typeBody == 'open-repo') {
      <div class="body-title">
        <h2>
          <span>
            {{openRepo.name + (openRepo.badge !== null ? (' - ' + openRepo.badge) : '' )}} 
          </span>
        </h2>
      </div>
      <app-repository-details [repository]="openRepo" (repositoryChange)="onRepoChanged($event)"></app-repository-details>
    }

    @if (typeBody === 'all-users') {
      <div class="body-title">
        <h2></h2>
      </div>
      <app-show-all-users></app-show-all-users>
    }

    <!-- FOOTER -->
    <footer class="footer">
      <p>UKS Hub © 2026 | Student Project</p>
    </footer>
  </div>

</div>
