<div class="account-settings-container">
    <aside class="sidebar">
        <div class="profile-box">
            <span class="avatar-letter">{{ user?.username?.charAt(0).toUpperCase() }}</span>
            <div class="account-text">
                <div class="account-email">{{ email }}</div>
                <div class="account-plan">{{isPersonal() ? 'Personal account' : `${getType()} account`}}</div>
            </div>
        </div>

        <ul class="menu">
            <!-- HOME -->
            <li class="menu-item" style="border-bottom: 1px solid rgba(0,0,0,0.1);">
                <a routerLink="/home" routerLinkActive="active">Home</a>
            </li>

            <!-- SETTINGS BUTTON -->
            <li class="menu-item settings-header" (click)="toggleSettings()">
                <span>Settings</span>
                <span class="arrow" [class.open]="settingsOpen">▾</span>
            </li>

            <!-- SETTINGS SUBMENU -->
            @if (settingsOpen) {
                <ul class="submenu">
                    <li (click)="selectMenu('accountInfo')" [class.active]="selectedMenu==='accountInfo'">
                        Account Information
                    </li>

                    <li (click)="selectMenu('email')" [class.active]="selectedMenu==='email'">
                        Email
                    </li>
                    
                    <li (click)="selectMenu('password')" [class.active]="selectedMenu==='password'">
                        Password
                    </li>

                    @if (userService.isAdminOrSuperadmin() || isPersonal()) {
                        <li (click)="selectMenu('tokens')" [class.active]="selectedMenu==='tokens'">
                            Personal Access Tokens
                        </li>
                    }

                    @if (userService.isAdminOrSuperadmin()) {
                        <li (click)="selectMenu('role')" [class.active]="selectedMenu==='role'">
                            Roles
                        </li>
                    }
                </ul>
            }
        </ul>
    </aside>

    @if (!loadData) {
        <section class="content">
            @if (selectedMenu==='accountInfo') {
                <h2>Account Information</h2>
                <p>This information will be visible to all users of Docker.</p>
                <form>
                    <label>First Name</label>
                    <input type="text" [(ngModel)]="account.first_name" name="fullName" placeholder="{{user.first_name}}"/>
                    
                    <label>Last Name</label>
                    <input type="text" [(ngModel)]="account.last_name" name="fullName" placeholder="{{user.last_name}}"/>
                    
                    <label>Company</label>
                    <input type="text" [(ngModel)]="account.company_name" name="company_name" placeholder="{{user.profile.company_name}}"/>

                    <label>Location</label>
                    <input type="text" [(ngModel)]="account.company_location" name="company_location" placeholder="{{user.profile.company_location}}"/>
                    
                    <label>Website</label>
                    <input type="text" [(ngModel)]="account.company_website" name="company_website" placeholder="{{user.profile.company_website}}"/>
                    
                    <button type="button" (click)="saveAccountInfo()" [disabled]="!hasAccountChanges() || loading">
                        @if (!loading) {
                            <span>Save</span>
                        }
                        @if (loading) {
                            <span><i class="spinner"></i></span>
                        }
                        
                    </button>
                </form>
            }

            @if (selectedMenu==='email') {
                <h2>Email</h2>
                <p>{{ email }}</p>

                <label>Enter old email address</label>
                <input type="email" [(ngModel)]="emailUpdate.old_email", name="old_email"/>

                <label>Enter new email address</label>
                <input type="email" [(ngModel)]="emailUpdate.new_email" name="new_email"/>
                
                <button type="button" (click)="updateEmail()" [disabled]="!hasEmailChanges() || loading">
                    @if (!loading) {
                        <span>Update</span>
                    }
                    @if (loading) {
                        <span><i class="spinner"></i></span>
                    }
                    
                </button>
            }

            @if (selectedMenu==='password') {
                <h2>Password</h2>
                <p>**********</p>
                <p>You can change your password by initiating a reset via email.</p>
                <button (click)="resetPassword()">Reset Password</button>
            }

            @if (selectedMenu==='password2' && isPersonal()) {
                <h2>Password</h2>
                <p>Enter your new password.</p>

                <label>Enter old password</label>
                <input type="password" [(ngModel)]="updatePassword.old_password", name="old_password"/>

                <label>Enter new password</label>
                <input type="password" [(ngModel)]="updatePassword.new_password", name="new_password"/>
                
                <button type="button" (click)="resetPassword2()" [disabled]="!hasPasswordChanges() || loading">
                    @if (!loading) {
                        <span>Update password</span>
                    }
                    @if (loading) {
                        <span><i class="spinner"></i></span>
                    }
                    
                </button>
            }

            @if (selectedMenu==='password2' && !isPersonal() && userService.isSuperAdmin()) {
                <h2>Password</h2>
                <p>Generate a new password</p>
                
                <button type="button" (click)="resetPassword3()">
                    @if (!loading) {
                        <span>Generate password</span>
                    }
                    @if (loading) {
                        <span><i class="spinner"></i></span>
                    }
                    
                </button>
            }

            @if (selectedMenu==='tokens') {
                @if (showTokenForm) {
                    <h2>Create access token</h2>
                    <p>A personal access token is similar to a password except you can have many tokens and revoke access to each one at any time</p>
                    <button (click)="showTokenForm = false" style="background-color: red;">Cancel create new token</button>
                    <br>
                    <br>
                    <br>
                    
                    <label>Token Name</label>
                    <input type="text" [(ngModel)]="newTokenName" placeholder="Enter token name" />
                    @if (userService.isSuperAdmin() || isPersonal()) {
                        <button (click)="generateToken()" [disabled]="loading || !newTokenName">
                            <span *ngIf="!loading">Generate</span>
                            <span *ngIf="loading"><i class="spinner"></i></span>
                        </button>
                    }
                }
                @else {
                    <h2>Personal Access Tokens</h2>
                    <p>You can use a personal access token instead of a password for Docker CLI authentication. Create multiple tokens, control their scope, and delete tokens at any time</p>
                    <button (click)="showTokenForm = true">Generate new token</button>
                    <br>

                    @if (tokens && tokens.length > 0) {
                        <app-table-component
                            [columns]="tokenColumns"
                            [data]="tokens">
                        </app-table-component>
                    }
                    @else {
                        <p >No personal tokens found.</p>
                    }

                }                
            }

            @if (selectedMenu === 'role') {
                <h2>Personal Roles</h2>
                <p>View all roles that have been assigned</p>

                @if (roles) {
                    @if (!isRoleLoader) {
                        <div class="role-box">
                            <div class="role-row">
                                @if (!isShowRole) {
                                    <div class="role-text">
                                        This role is <span class="role-name">{{ user.role }}</span>
                                        @if (userService.isSuperAdmin()) {
                                            <br>Your roll is the strongest and you cannot change it.
                                        }
                                    </div>
                                }
                                @else {
                                    <app-table-component
                                        [columns]="roleColumns"
                                        [data]="roles"
                                        (selectionChange)="onRoleSelected($event)">
                                    </app-table-component>                            
                                }
                            </div>
                        </div>
                        @if (!isShowRole) {
                        <button class="btn-remove btn-green" (click)="isShowRole = !isShowRole" [disabled]="userService.isSuperAdmin()">Edit</button>
                        }
                        @else {
                            <button class="btn-remove btn-green" (click)="updateRole()">Save</button>
                        }
                        
                    }
                    @else {
                        <div class="child">
                            <span class="spinner"></span>
                            Update...
                        </div>
                    }
                }
                @else {
                    <p >The system has not defined a rules list.</p>
                }

            }
        </section>
    }
    @else {
        <div class="child">
            <span class="spinner"></span>
            Loading...
        </div>
    }
</div>

@if (showPasswordModal) {
    <app-modal-dialog-component
        [title]="'Email sending simulation'" 
        [innerDiv]="simulatedEmailContent"
        [isCancelVisibility]="true"
        (ok)="selectMenuAndClose('password2')"
        (cancel)="closeModal()">
    </app-modal-dialog-component>
}

@if (isMessage) {
    <app-modal-dialog-component
        [title]="modalTitle" 
        [message]="modalMessage"
        [type]="modelType"
        (ok)="onModalOk()">
    </app-modal-dialog-component>
}