<div class="container">
  <!-- Back dugme u gornjem levom uglu -->
  <button class="back-btn" (click)="goHome()">← Back</button>

  <h2>Login</h2> <!-- ili Register -->
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <input formControlName="username" placeholder="Username" required /><br/>
    <input formControlName="password" type="password" placeholder="Password" required /><br/>
    <button type="submit" [disabled]="isLoading">
      <span *ngIf="!isLoading">Login</span>
      <span *ngIf="isLoading" class="spinner"></span>
    </button>
  </form>

  <!-- Modal -->
  <app-modal-dialog-component 
    *ngIf="showModal" 
    [title]="modalTitle" 
    [message]="modalMessage"
    [type]="modelType"
    (ok)="onModalOk()">
  </app-modal-dialog-component>
</div>

