<div class="container">
  <!-- Back dugme u gornjem levom uglu -->
  <button class="back-btn" (click)="goToLoginPage()">Login page</button>

  <h2>Change password</h2> <!-- ili Register -->
  <form [formGroup]="passwordChangeForm" >
    <input formControlName="password" type="password" placeholder="New password" required /><br/>
    @if (passwordChangeForm.get('passwordAgain')?.value && passwordChangeForm.hasError('passwordMismatch')) {
        <div class="error">
            Passwords are not the same
        </div>
    }
    <input formControlName="passwordAgain" type="password" placeholder="Input again password" required /><br/>

    @if (isMessage) {
        <div [ngClass]="{'error': isError, 'warning': isWarning}">
            {{message}}
        </div>
    }

    <button type="submit" (click)="changePassword()" [disabled]="!(
        (passwordChangeForm.get('password')?.value?.length > 5) &&
        (passwordChangeForm.get('passwordAgain')?.value?.length > 5))">
        @if (isLoading) {
            <span class="spinner"></span>
        }
        @else {
            <span>Change password</span>
        }
    </button>
  </form>

  <app-modal-dialog-component 
    *ngIf="showModal" 
    [title]="modalTitle" 
    [message]="modalMessage"
    [type]="modelType"
    (ok)="onModalOk()">
  </app-modal-dialog-component>
</div>

